body {
	width: 960px;
	width: 96%;
	margin: 0 auto;
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
	}	
header {
	margin-right: 10px;
	margin-right: 1.0416667%; /* 10 divided by 960 */
	margin-left: 10px;
	margin-left: 1.0416667%; /* 10 divided by 960 */
	width: 940px;
 	width: 97.9166667%; /* 940 divided by 960 */
	background-color:none;
	background-color:none;
	border-color: #e8e8e8;
	border-color: purple;/* For illustration ONLY*/
	border-style: none;
	border-width: 2px;
	
	}
main {
		float: left;
		width: 72.7083333%; /* 698 divided by 960 */
		width: 72.2916666%; /* 694 divided by 960 */
		height:800px;
		margin-left: 1.0416667%; /* 10 divided by 960 */
		margin-top:1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;
		border-style: dashed;
		border-width: 2px;
	}
aside#FirstAside {
		float: left;
		width: 22.7083333%; /* 218 divided by 960 */
		width: 22.5%; /* 216 divided by 960 */
		height:800px;
		margin-top: 58px;
		margin-right: 1.0416667%; /* 10 divided by 960 */
		margin-left: 1.0416667%; /* 10 divided by 960 */
		padding-right: 1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;/* For illustration ONLY*/
		border-style: dashed;
		border-width: 2px;
	}
section#FirstCategory
	{
		float: left;
		width: 72.7083333%; /* 698 divided by 960 */
		width: 72.2916666%; /* 694 divided by 960 */
		height:800px;
		margin-left: 1.0416667%; /* 10 divided by 960 */
		margin-top:1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;
		border-style: dashed;
		border-width: 2px;
	}
  aside#SecondAside {
		float: left;
		width: 22.7083333%; /* 218 divided by 960 */
		width: 22.5%; /* 216 divided by 960 */
		height:800px;
		margin-top: 10px;
		margin-right: 1.0416667%; /* 10 divided by 960 */
		margin-left: 1.0416667%; /* 10 divided by 960 */
		padding-right: 1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;/* For illustration ONLY*/
		border-style: dashed;
		border-width: 2px;
	}
section#SecondCategory
	{
		float: left;
		width: 72.7083333%; /* 698 divided by 960 */
		width: 72.2916666%; /* 694 divided by 960 */
		height:800px;
		margin-left: 1.0416667%; /* 10 divided by 960 */
		margin-top:1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;
		border-style: dashed;
		border-width: 2px;
	}
aside#ThirdAside {
		float: left;
		width: 22.7083333%; /* 218 divided by 960 */
		width: 22.5%; /* 216 divided by 960 */
		height:800px;
		margin-top: 10px;
		margin-right: 1.0416667%; /* 10 divided by 960 */
		margin-left: 1.0416667%; /* 10 divided by 960 */
		padding-right: 1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;/* For illustration ONLY*/
		border-style: dashed;
		border-width: 2px;
	}
section#ThirdCategory
	{
		width: 72.7083333%; /* 698 divided by 960 */
		width: 72.2916666%; /* 694 divided by 960 */
		height:800px;
		margin-left: 1.0416667%; /* 10 divided by 960 */
		margin-top:1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;
		border-style: dashed;
		border-width: 2px;float: left;
	}
aside#FourthAside {
		float: left;
		width: 22.7083333%; /* 218 divided by 960 */
		width: 22.5%; /* 216 divided by 960 */
		height:800px;
		margin-top: 10px;
		margin-bottom: 15px;
		margin-right: 1.0416667%; /* 10 divided by 960 */
		margin-left: 1.0416667%; /* 10 divided by 960 */
		padding-right: 1.0416667%; /* 10 divided by 960 */
		background-color:none;
		border-color: #e8e8e8;
		border-color: purple;/* For illustration ONLY*/
		border-style: dashed;
		border-width: 2px;
	}
footer {
	margin-right: 10px;
	margin-right: 1.0416667%; /* 10 divided by 960 */
	margin-left: 10px;
	margin-left: 1.0416667%; /* 10 divided by 960 */
	clear: both;
	width: 940px;
	width: 97.9166667%; /* 940 divided by 960 */
	height:250px;
	background-color:none;
	background-color:none;
	border-color: #e8e8e8;
	border-color: purple;/* For illustration ONLY*/
	border-style: none;
	border-width: 2px;
	}	
	
a 	{
	color: #890101;
	text-decoration: none;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
	}
	
a:hover {
	    color: #DF3030;
	   }

ul.nav {
	border-top: 1px solid #888583;
	margin: 2em auto 0;
	width: 64.379%;
}
ul.nav a {
	background: url("site/ornament.png") no-repeat 0 100%;
	font: bold 14px/1.2 "Book Antiqua", "Palatino Linotype", Georgia, serif;
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 1em 0.5em 3em;
	margin-bottom: -1em;
	text-transform: uppercase;
}
ul.nav a:hover {
	background-position: 50% 100%;
}
li.first a {
	border-top: 1px solid #FFF9EF;
	padding-top: 1.25em;
}
ul.nav i {
	font: normal 10px Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	display: block;
	letter-spacing: 0.05em;
}

#double-line {	
	border-top-style:solid;
	border-bottom-style:solid;
	padding:1.5px;
    border-top-width:1px;
	border-bottom-width:3px;
	border-top-color: purple;
	border-bottom-color:purple;
	margin-top: 1.5px;
	margin-bottom: 30px;	
	}
nav#top-navigation ul{
	margin: 0;
	padding: 0;
	float: right;
	margin-top: -18px; 
	list-style-type: none;	
	}
nav#top-navigation li {
	display: inline-block;
	text-align: center;
	}
nav#top-navigation a {
	text-decoration: none;
	color: purple;
	}
nav#top-navigation a:hover{ 
	color: blue;
	}

img#OfficialLogo
	{	
	height:80px;
	width:64px;
	max-width:96%;
	max-width: 100%;
	margin-right: 0 auto;
	
    }

nav#main-navigation 
	{
	margin-top: 45px; 
	background-image:url(images/NavBackground.png);
	}

nav#main-navigation ul li 
	{
	display: inline-block;
	margin-right:25px;
	margin-right: 2.6595745%; /* 25 divided by 940 */
	}

nav#main-navigation ul li a {
      
	
	line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 16px;
	color: black;



	}
#undermenushade
	{
	width:100%;
	background-color: purple;
	height:30px;
	margin-bottom:25px;
	margin-top: -17px;
	}
#mysearch{
width:150px;
background-color:#DCFF7A;
margin-top:-12px;
float:right;
margin-right:10px;
}
	
nav#bottom-navigation 
	{
	margin-top: -7px;
	padding-right: 10px;
	padding-right: 1.0416667%; /* 10 divided by 960 */
	padding-left: 10px;
	padding-left: 1.0416667%; /* 10 divided by 960 */
	width: 940px;
	width: 97.9166667%; /* 940 divided by 960 */
	background-image:url(images/NavBackground.png);
	
	}

nav#bottom-navigation ul li 
	{
	display: inline-block;
	margin-right:25px;
	margin-right: 2.6595745%; /* 25 divided by 940 */float:center;
	
	}

nav#bottom-navigation ul li a 
	{
	height: 42px;
	line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 20px;
	color: black;
	}
	img#SecondaryOfficialLogo
	{	
	background-image:url(images/SecondaryOfficialLogo.png);
	height:80px;
	width:73px;
    margin: 50px 0 0 0;
	max-width:96%;
    }
	p{
purple;
}
img
{max-width:100%; }


/* Media Queries - I love you almost as much as a full English breakfast. Almost. */

@media (max-width: 814px) {
	
	img#OfficialLogo,img#SecondaryOfficialLogo { margin-right: auto; margin-left: auto; size:90%;}
	main ,
	section#FirstCategory,section#SecondCategory,section#ThirdCategory,
	aside#FirstAside,aside#SecondAside,aside#ThirdAside,aside#FourthAside
		
		{ width:97.9166667%; height:100px; margin-right:1.0416667%; margin-left: 1.0416667%; padding-right:0px; margin-top: 10px;}
}