/**
*
* Link
*
**/

a {
  color: $colorRed;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorRed, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorRed);
}
